*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 980px;
    margin: 0 auto;
}
.primary_button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.button_blue{
    color: #fff;
    background-color: #2289FF;
    border: 1px solid #2289FF;
}
.button_white{
    color: #2289FF;
    background-color: #fff;
    border: 1px solid #2289FF;
}

#header_topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
#header_logo{
    cursor: pointer;
}
/* Banner nav section */
#nav > ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
#nav > ul li{
    list-style-type: none;
}
#nav > ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #0F2B4A;
}
#nav ul li > a{
    padding: 5px;
}
#nav #sign_btns{
    display: flex;
    gap: 10px;
}

#header_banner{
    margin: 6rem 0;
    display: flex;
    gap: 2rem;
}
#banner_text, #banner_image{
    width: calc(50% - 1rem);
}
#banner_text > h1{
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0F2B4A;
}
#banner_text > p{
    color: #576B81;
    margin: 1rem 0;
    line-height: 1.5rem;
}

/* Banner property search section */
#banner_propertySearch{
    display: flex;
    gap: 0.5rem;
    border: 1px solid rgba(151, 218, 245, 0.336);
    padding: 10px 20px;
    border-radius: 10px;
}
#banner_propertySearch label{
    color: #0F2B4A;
    font-weight: bold;
}
#banner_propertySearch input{
    outline: none;
    border: none;
    color: gray;
}

#banner_property_image{
    width: 100%;
    border-radius: 10px 100px;
}

/* Banner property card section */
#banner_property_card{
    width: 40%;
}
#banner_property_card > img{
    border-radius: 10px;
    width: 100%;
}
#banner_card_price{
    color: #2289FF;
    font-size: 1.8rem;
    margin: 0.2rem 0;
}
#banner_card_details > h4{
    font-size: 1.2rem;
    color: #0F2B4A;
}
#banner_card_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner_card_room_details{
    display: flex;
    gap: 0.5rem;
}
#banner_card_room_details img{
    width: 20px;
    height: 18px;
}
#banner_card_room_details > div{
    display: flex;
    gap: 0.3rem;
    color: rgba(128, 128, 128, 0.829);
}
#banner_card_address{
    font-size: 0.8rem;
    opacity: 0.7;
    color: #2289ffa1;
    margin-top: 0.4rem;
}
#banner_property_card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 12px;
}

#banner_property_container{
    position: relative;
}
#banner_property_card{
    position: absolute;
    bottom: 50px;
    right: -120px;
    background-color: #fff;
}
